.card-body {
    background-image: url("https://i.picsum.photos/id/1071/3000/1996.jpg?hmac=rPo94Qr1Ffb657k6R7c9Zmfgs4wc4c1mNFz7ND23KnQ");
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    background-color: black;
}
.btn{
    background-color: rgb(71, 2, 2);
    color:white;
}
.nav-item {
    background-color: rgb(71, 2, 2);
    color:white;
}
.nav-link {
   color:white;
}